@import url("https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i");

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
  text-align: left;
  padding: 15px 0;
  color: #fff;
}

header .filters {padding:10px 45px 0 45px;}
header ul {padding:0;}

header li {
  list-style-type: none;
  display: inline-block;
}

header li a {
  color: #97c5e0;
  border-bottom: 1px solid #D9D0D2;
  margin: 0 5px;
}

header ul b {
  margin: 0 5px;
}

.grid .item {
  display: block;
  padding: 30px;
  width: 23%;
  box-sizing: border-box;
  margin:1%;
}

.selected {
  color: #D9D0D2;
  border-bottom-color: #97c5e0;
  box-shadow: rgb(151, 197, 224) 0px -0.5em 0px 0px inset;
  font-weight: bold;
}

h2 {
  margin: 0;
}
